[2018-03-30 08:34] gerchicov-bp opened #1 "need demo project"
view controller with code is not enough

[2018-03-30 08:47] gerchicov-bp opened #2 "Problems with alignment"
Created a view which intherits `SVPinView` and fulfills almost the whole screen.
Result: numbers are aligned to vertical center, lines aligned to bottom. They should be aligned to the same anchor point.

[2018-03-30 08:51] gerchicov-bp opened #3 "Broken alignment on editing invisible text fields"
On gif from readme text and cursor are aligned to horizontal center of each line.

Created test project with this control - on editing text alignment changes from "center" to "left" - independently on empty or non-empty text field.

[2018-04-02 16:15] xornorik commented on #1
@gerchicov-bp thanks for the feedback. You're right, the example ViewController makes certain assumptions about the storyboard layout and isn't quite evident. Will add one soon.

[2018-04-02 16:17] xornorik commented on #2
@gerchicov-bp You're right they should be centered on the screen. Will add a fix.

[2018-04-22 12:25] xornorik commented on #3
Fixed alignment issues.

[2018-04-22 12:25] #3 closed

[2018-04-27 12:55] gerchicov-bp opened #4 "Example is broken on rotation"

[2018-04-29 20:40] omaarr90 opened #5 "Feature Request - Loading Indicator"
it might be too much for this view. but it would be nice if the textfields themselves start animating until the network request finishes.

[2018-04-29 21:55] omaarr90 opened #6 "It's broken on Right to Left Languages"
Pin entry should always be left to right

[2018-05-10 05:32] xornorik commented on #4
Thanks for the feedback @gerchicov-bp. Will add support for landscape orientation as well.

[2018-05-10 05:35] xornorik commented on #5
Thank you for the feedback @omaarr90. However I didn't completely understand the requirement. What kind of animations would you like the textFields to have during the network call?

[2018-05-10 05:37] xornorik commented on #6
Hi @omaarr90, are you saying you would like the pinView to support Right to left entry?

[2018-06-20 08:08] himanshuNetsol opened #7 "clearPin() crash on iOS 10.3.3"
In iOS version 10.3.3 of iPad, it **crashes** . It is bcoz **cell.viewWithTag** unable to **typecast** view into **SVPinFeild**.
Can i get any help on this??
Attached the crash below.
![screen shot 2018-06-20 at 1 36 37 pm](https://user-images.githubusercontent.com/37396038/41645585-07d9cb92-748f-11e8-8e7e-3c994e05fd58.png)

[2018-06-20 08:17] xornorik commented on #7
Sure, could you help me out with the error logs? Is it crashing consistently?

[2018-06-20 08:58] himanshuNetsol commented on #7
Yes.. Only on iOS version 10.3.3, it is crashing consistently, with error:
EXC_BREAKPOINT (code=EXC_ARM_BREAKPOINT, subcode=0xe7ffdefe)

[2018-06-20 09:46] himanshuNetsol commented on #7
Yeah Sure... Value for **indexPath.row = 0**

[2018-06-20 10:59] xornorik commented on #7
@himanshuNetsol I'm not able to recreate the issue, I'll add some additional checks on the clearPin method and make some other changes that I think might be contributing to the issue and push code. Could you check for it then and revert?

[2018-06-20 11:03] himanshuNetsol commented on #7
For sure.. Thanks 👍

[2018-06-26 06:12] himanshuNetsol commented on #7
Hi.
Any updates on this ?? When will u be pushing the updated code??

[2018-06-26 06:17] xornorik commented on #7
Hey, Yes I've solved it. Will be making a release in about 8 hours with the fix.

[2018-06-27 04:21] #4 closed

[2018-06-27 04:21] #7 closed

[2018-06-27 11:17] xornorik commented on #7
@himanshuNetsol Could you confirm if this has been fixed?

[2018-06-28 09:08] himanshuNetsol commented on #7
Hi..
Yes.. The issue is fixed now. ThankYou Very Much :-)

[2018-06-29 07:16] xornorik commented on #5
Closing this issue for lack of more information.

[2018-06-29 07:16] #5 closed

[2018-07-31 12:31] himanthmaddi opened #8 "Not working for 4 pin"
I have set pin length to 4 and style to underline. Then the borderline color is not working (Whatever color you set, it's showing as clear color) but it is working for 6 pin.

[2018-08-01 11:55] M3Rocket opened #9 "becomeFirstResponder() doesn't work"
I have put the field and wish it to be the FirstReponder on a view. But nothing I do can make the field become focussed as the first responder and bring up the keyboard? I have to click on the field to bring up the keyboard.

[2018-08-01 12:58] xornorik commented on #9
Had originally intended it to be made the first responder only on tap of the field. But you're right, this would be a good feature addition. Will update shortly. Thanks!

[2018-08-01 13:00] xornorik commented on #8
@himanthmaddi Will investigate and update shortly. Thanks.

[2018-08-03 10:29] #8 closed

[2018-08-03 10:29] #9 closed

[2018-08-03 10:42] xornorik commented on #9
@M3Rocket, have added a property - `becomeFirstResponderAtIndex`, which sets the field at the specified index to become the first responder.

[2018-08-03 10:48] xornorik commented on #8
@himanthmaddi, the issue wasn't with the borderline color, but rather the size of the pinField. The pinView calculates the size of each field based on its width; so if the pinLength is smaller and spread over a larger area, the top and bottom portions of the field were being hidden which is why you were not able to see the underline.

I've put in a fix now which takes into consideration both the h

[2018-08-03 11:49] himanthmaddi commented on #8
@xornorik thanks for prompt response.

[2018-08-03 22:30] M3Rocket commented on #9
That is awesome! I will check it out. Thank You!

On Fri, Aug 3, 2018 at 3:42 AM Srinivas Vemuri <notifications@github.com>
wrote:

[2018-08-04 08:00] M3Rocket opened #10 "Using backspace does not erase the mask"
Steps to reproduce:
1. Type in 3 out of 4 (for example) needed characters
2. Press the backspace button
3. Cursor goes back to the third character, but the "mask" character is still there.
![image](https://user-images.githubusercontent.com/3769123/43674023-b75d7e0a-9781-11e8-8eba-92d43a6aad1d.png)

[2018-08-04 08:02] M3Rocket opened #11 "Cursor is not centered horizontally in the char box or area"
The cursor should be centered on the character horizontally, but is not.

![image](https://user-images.githubusercontent.com/3769123/43674038-00c19e5a-9782-11e8-9398-df348149e7cd.png)

[2018-08-04 08:05] M3Rocket opened #12 "Feature Request: Set a different color and line height for the active cell"
In underline mode currently, all the underlines are in the same color. May I suggest two useful feature additions:
1. Ability to specify "active" cell line height
2. Ability to specify "active" cell line color

[2018-08-04 08:08] M3Rocket opened #13 "Backspace at char index 0 results in defocus"
Hitting backspace while the cursor is in char index 0 position exits the field. I think that is a bug. Most PIN entry will not exit, but actually remain in position index 0 if the backspace key is used there.

[2018-08-10 14:41] xornorik commented on #10
@M3Rocket Not completely clear on the issue here. The single responsibility event when the user taps the backspace/delete button is to clear the contents of the current field and focus on the previous field.

Once the previous field is focused upon, the user can either enter a new digit in its place or hit backspace to clear the existing content.

[2018-08-10 18:25] M3Rocket commented on #10
Also, in reading your comment, I left field 4 blank. Because if I didn't, it would have executed "didFinishCallback". Meaning, you can do this with less characters entered to see the problem:
1. Type in 2 out of 4.
2. Cursor is sitting in cell 3.
3. Leave cell 3 empty. Press backspace.
4. Cursor is sitting in cell 2, but the "mask" character is still there eventhough cell 2 is supposed to be blank

[2018-08-10 18:43] xornorik commented on #10
Okay, let's consider the above case -
In step 3, when we leave the cell 3 empty and hit backspace - it clears the cell 3 (anyway empty) and moves the cursor to cell 2. **It will clear cell 2 only when cell 2 is in focus and you hit backspace**. That's the only way it would maintain it's single responsibility.

Also, if cell 2 is in focus and you type another digit, the existing digit (masked) woul

[2018-08-10 18:53] xornorik commented on #11
Yes, this issue stems from the fact that there is no way to detect a 'backspace' key unless there is already some text in the TextField. So in order to register the backspace event, I have to fill the empty field with a space character.

I could fix this using constraints, but it seemed to be a trivial problem for the amount of work required. I will get to it eventually, but let me know if you can

[2018-08-10 18:55] xornorik commented on #12
Yes! This is definitely an amazing feature to have. I will include this in the next release. Thanks! 👍

[2018-08-11 03:53] M3Rocket commented on #10
My two cents: I disagree. I think what you're describing isn't very user friendly. Users expect the backspace to delete one character to the left. Backspace key is not the same as Left Arrow key. It is ONLY behaving this way because you are putting a "space" (which the user cannot really tell and doesn't expect to be there). It is related to issue #11

When you press backspace, the reasonable thin

[2018-10-04 13:10] muhasturk opened #16 "Carthage Support"
first of all thanks for this project. Are you plan to support Carthage?

[2018-10-05 08:42] appcornerit opened #17 "OTP Autofill"
Hi,
SPView doesn't work with textContentType = .oneTimeCode (ex: add textContentType to the first SVPinField).
Any idea how to solve the issue?

[2018-10-07 17:52] xornorik commented on #17
Hi, I have yet to add the changes to make it compatible with iOS 12. Will be doing it in the upcoming release.

[2018-10-07 18:28] xornorik commented on #16
Hey, you're welcome. I hadn't planned on it earlier, but could you allow me some time to get back to you on this?

[2018-10-09 05:42] oenama commented on #6
@xornorik no , it does support pinView, he's saying that it should not , cuz pin entry should always be from left to right

[2018-10-28 15:52] #10 closed

[2018-10-28 15:52] #11 closed

[2018-10-28 15:52] #12 closed

[2018-10-28 15:52] #13 closed

[2018-10-28 16:28] xornorik commented on #17
@appcornerit I've added an option `isContentTypeOneTimeCode` for setting the text content type of the first pinField to `.oneTimeCode`. However I **haven't** been able to test this on a device. If you happen to be using this, could you confirm if it's working?
Thanks.

[2018-10-28 16:30] xornorik commented on #13
Have added a boolean configuration by the name `shouldDismissKeyboardOnEmptyFirstField` to maintain the focus on the first pinField. This is set to false by default.

[2018-10-28 16:35] xornorik commented on #10
Closing this for now. Reopen of required.

[2018-10-28 16:44] omaarr90 commented on #6
When the device language is Arabic which is an RTL language. The pin entry goes right to left which is wrong.

In all languages numbers Always read left to right.

You can test by editing the Scheme and chosing launch options and select Arabic is the language to start with.

[2018-10-28 16:50] xornorik commented on #6
@omaarr90 Okay thanks! will investigate.

[2018-10-30 09:20] appcornerit commented on #17
thanks! There are some issuetext field with prefilled " "

[2018-10-30 09:53] xornorik commented on #17
Okay, I will investigate. Removing the pre-filled space might not work since we need it for detecting the backspace event.

[2018-10-30 10:00] appcornerit commented on #17
As suggestion I applied the workaround (not prefilled) just for the first text field only, because I'm avoiding to close the keyboard on the first field for backspace.

[2018-11-13 05:24] mob-friend0110 opened #20 "Can't catch the change callback"
I have installed v.1.0.4
but in this version, there is no didChangeCallback method.
How can I catch the change listener?

[2018-11-18 13:47] xornorik commented on #20
@mob-friend0110 the `didChangeCallback` method was added in v1.0.5. Could you update?

[2018-11-24 13:55] chauhanjitendra603 opened #21 "didFinishCallback wrong call"
1. 4 digit pin view
2. enter last 3 digit and check "didFinishCallback"
3. And reenter last 3 digit and check "didFinishCallback"

[2018-12-14 05:48] ReveelTeam opened #22 "Swift 4.2 (4.2.1) Update"
Using Xcode 10.1 with Swift 4.2.1 (same on Xcode 10 w/ Swift 4.2)

Getting a compile error, which is an easy fix. Basically in ‘SVPinView.swift’ - on line 87, change these 2 uses of ‘UIViewAutoresizing’ to ‘UIView.AutoresizingMask’

... in case anyone needed this and for an update. Thank you for your repo!

[2018-12-17 09:38] Nick-Ace opened #23 "Initialize the view programmatically!"
I am having trouble initializing the SVPinView.
What should i pass as it's coder parameter ??
var view = SVPinView() // this is not allowed
var view = SVPinView(coder : NSCoder) // this also returns error

[2018-12-17 11:19] ratulSharker commented on #23
Did you tried ?

[code]

[2018-12-30 09:08] xornorik commented on #22
@ReveelTeam Thank you for the report.
@dangthaison91 had raised a PR(#18) for this. Have merged it, will make a release with the changes shortly.

[2019-01-10 01:45] yeeket opened #24 "Type 'UITextContentType!' has no member 'oneTimeCode'"
I got this issues after updating my cocoapods. Any idea how to fix this?
SVPinView version is 1.0.5
Swift 4.1

[2019-01-26 15:44] #6 closed

[2019-01-26 15:44] #20 closed

[2019-01-26 15:44] #21 closed

[2019-01-26 15:44] #22 closed

[2019-01-26 15:44] #23 closed

[2019-02-17 13:56] Mostafa3la2 opened #25 "Pin length inconsistency between view and password count"
I had this issue in some projects where setting pin length to another length rather than the default value would update the view but the password count is still 5 leading to either crashes when the pin length is greater than the default value or not triggering didFinishCallback if less than 5.
I fixed this issue by moving the password array initialization to the collection view delegate method num

[2019-02-19 16:02] ssowri1 commented on #25
Yes. Its too annoying to me. I am getting same error. My configuration in below,

[code]

My console output is,
[code]

[2019-03-20 06:48] #25 closed

[2019-03-20 07:00] xornorik commented on #25
@Mostafa3la2 @ssowri1 Apologies for the delay, have fixed the issue and made a release (1.0.7). Do let me know in case of any further issues.
Thanks.

[2019-03-20 07:10] ssowri1 commented on #25
@xornorik: Thank you for your support.

[2019-03-23 17:15] himanthmaddi commented on #17
Can you please help me out on this how to solve this issue

[2019-03-27 04:10] jamesrv43 commented on #17
just add condition

[code]
(textField.tag == 101 is first textfield)

[2019-03-27 17:28] lukeirvin commented on #22
It's not working for me for 4.2

[2019-03-27 18:32] lukeirvin opened #26 "Size of individual input"
Is it possible to update the size of the input areas?

I can manage to get the width about accurate based on where I need to place this, but the height of each input area is too small.

[2019-04-17 06:32] sreekumar88 commented on #17
It doesn't work even after setting isContentTypeOneTimeCode to true. Unable to fetch the OTP directly from messages.

[2019-05-08 11:25] dhaval00700 commented on #9
I have put the field and wish it to be the FirstReponder on a "viewOtP.becomeFirstResponderAtIndex "
it's show nil

[2019-05-08 11:27] dhaval00700 commented on #9
i have use this Property but i found log is "nil"

[2019-05-08 18:27] detectedstealth commented on #17
@sreekumar88 I was able to get this working by making two changes to the source code of this project.

First inside SVPinView collectionView(_,cellForItemAt:) the find the comment // setting up textField and change:
[code]
To this:
[code]

One more change is required inside textFieldDidBeginEditing change the:
[code]
To this:
[code]
If you don't do this you will not see the code in the keyboard, b

[2019-05-11 10:23] dhaval00700 commented on #17
isContentTypeOneTimeCode is not working.

[2019-05-20 11:33] AdrianHyj opened #27 "interSpace not working"
I have init the pinview ..
`pinView.frame = CGRect(x: 15, y: 150, width: frame.size.width - 30, height: 44)`
and set it's interSpace to 20
`pinView.interSpace = 20`
it turns out it didn't center, and the space is not 20 at all
<img width="533" alt="image" src="https://user-images.githubusercontent.com/7114108/58018700-19094880-7b36-11e9-96bd-0543a6f3bd67.png">

[2019-07-17 10:39] brar07 commented on #17
I tried this and also applied this code in textFieldDiDChange method, but, it is not working. It does show otp briefly when I hit back space, but, it disappears.

[2019-07-18 23:50] adika-juniarsa opened #29 "app crash after using pastepin() and can you implement wrongstate or refresh view?"
i'm trying to using pastepin and app crash on this line

`let textField = collectionView.cellForItem(at: IndexPath(item: index, section: 0))?.viewWithTag(101 + index) as! SVPinField`

also can you make wrong state for next release

thanks

[2019-08-21 11:56] bhardwajpankaj commented on #17
Not working I have tried this option as well

[2019-08-22 13:33] niraj4491 commented on #17
Hi,
SPView doesn't work with auto read otp from message due to that space in initial first character. when should we get the solution please help above solution not working.

[2019-08-22 14:39] detectedstealth commented on #17
I’ll look closer at all the changes I have made but I HAVE been using it for auto fill since my original message on how to fix it.

[2019-08-29 05:56] wydydygibus opened #30 "Show Pin"
Hi!
Is there any chance to do "Show Pin" functionality?

[2019-08-29 11:44] DiptiRout commented on #17
There is a work around for this issue. We just need to change every
**textField.text = " "**

to

**textField.tag == 101 ? "" : " "**

[2019-09-06 04:57] MVakas commented on #6
Hi any update on this? I'm facing the same problem.

[2019-10-09 09:35] xornorik commented on #30
Hi @wydydygibus, could you elaborate on what you mean by "Show PIN" functionality?

There is a method **getPin()**, which returns the entered PIN if it's complete, else it returns an empty string. The responsibility of displaying the PIN (or the error), belongs to the ViewController on which SVPinView resides on. You can refer the [example project](https://github.com/xornorik/SVPinView/blob/master

[2019-10-09 10:28] xornorik commented on #29
Hey @adika-juniarsa, what are the steps that led you to the crash? Wasn't able to recreate it at my end.

Wrong state in the case where the PIN entered is incomplete?

[2019-10-09 12:20] xornorik commented on #27
Hi @AdrianHyj, the interspace property did not apply because the applied constraints are not satisfiable i.e *(interspace * (number of digits - 1)) + (2 * Applied padding for SVPinView) > (Width of the screen)*.
The Default behaviour of SVPinView is to fit all the digits on the screen without the need for scroll, so if the given constraints cannot be applied, the interspace becomes 0 and they beco

[2019-10-10 05:59] xornorik commented on #26
Hey @lukeirvin, each input area/box maintains a square shape (aspect ratio 1:1). They conform to the constraints applied to the SVPinView such that the width and height of the input area/box would be set to min(width, height) + the applied padding/margins.

Since there is no scroll, the dimensions are limited by the width and height constraints of the SVPinView.

[2019-10-14 06:58] AdrianHyj commented on #27
ok, Thankyou.

[2019-10-14 11:17] nishan-p opened #31 "English and Arabic Localization"
I'm using English and Arabic Localization for my app and I have used this Pinview within my app. This is automatically changing the alignment from Left to Right. I do not want the change in the alignment.

I want to have the same as it is, like first textfield will start from left and last textfield on the right. I want this similar functionality in both English and Arabic.

[2019-10-22 04:15] akku20080 commented on #17
I am facing the same issue. Any resolution for this? Please help.

[2019-10-22 05:14] DiptiRout commented on #17
Hi,
I have done some modifications and it is working fine now. Logic was I
removed the space for first cell only. Without it everything is working
fine for me. If you want I can share the code file. Let me know.

On Tue, 22 Oct, 2019, 9:45 AM akku20080, <notifications@github.com> wrote:

[2019-10-22 05:20] akku20080 commented on #17
Yes please.

[2019-10-22 05:42] DiptiRout commented on #17
Hi, I have added the entire code of SVPinView.swift with my modifications. Please go through this, I hope this will resolve the issue.

import UIKit

public enum SVPinViewStyle : Int {
    case none = 0
    case underline
    case box
}

public class SVPinView: UIView {

    // MARK: - Private Properties -
    @IBOutlet fileprivate var collectionView : UICollectionView!

    fileprivate var flowLa

[2019-10-22 05:45] DiptiRout commented on #17
Hi, I have added the  SVPinView.swift file with my modifications. Please go through this, I hope this will resolve the issue.
[SVPinView.swift.zip](https://github.com/xornorik/SVPinView/files/3753955/SVPinView.swift.zip)

[2019-10-22 09:10] akku20080 commented on #17
Thanks, it worked for me.

[2019-10-24 06:44] iPiyushBaranwal commented on #17
sorry to say , its not working for me ??  after replacing the SVPinView.swift. file in my code.. please suggest??

[2019-10-24 13:17] detectedstealth commented on #17
Well it officially seems like the author of this library is MIA I have started on a new version with some additional features for a current client I’ll post it on github once it’s finished.

[2019-10-25 04:57] DiptiRout commented on #17
Hi,
Can you tell what kind of error it is giving? As far as  I can tell, it
should work.

On Thu, 24 Oct, 2019, 12:14 PM iPiyushBaranwal, <notifications@github.com>
wrote:

[2019-10-25 05:10] iPiyushBaranwal commented on #17
I have just replaced provided SVPinView.swift file and trying to implement the process of auto fill otp functionality.

let me know if you need more specification on it .. thanks

[2020-01-14 05:57] adika-juniarsa opened #32 "always crash when using xcode 11.3, ios 13"
halo help me , when i'm using this always crash on this line
`let textField = cell.viewWithTag(100) as! SVPinField`

[2020-01-14 06:22] adika-juniarsa opened #33 "crash on xcode 11.3 and ios 13"
halo help me , when i'm using this always crash on this line
`let textField = cell.viewWithTag(100) as! SVPinField`

[2020-01-14 06:22] #33 closed

[2020-01-30 14:15] Sobhi-IOS commented on #31
@xornorik can you reslove this issue ?

[2020-02-10 06:41] ChetanRajagiri commented on #32
try making it SVPinView

[2020-02-10 06:54] ChetanRajagiri commented on #24
@yeeket check #34

[2020-02-10 06:54] ChetanRajagiri commented on #17
GUYS CHECK THIS  #34

[2020-02-13 06:53] iosdroid opened #36 "Crash On iOS 12 and above"

[2020-03-09 09:20] srikanthkumarmailid07 commented on #17
**if #available(iOS 12.0, *), indexPath.row == 0, if #available(iOS 12.0, *), indexPath.row == 0, isContentTypeOneTimeCode {
            textField.textContentType = .oneTimeCode
        } {
            textField.textContentType = .oneTimeCode
        }

isContentTypeOneTimeCode = true**

[2020-03-16 07:15] sanjeevThapar opened #37 "Interspace property is not working properly"
First of all thank you for the library. I am using your library in one of my project and setting "interSpace" is not working properly. If I set a space using this property then interspacing between views goes to 0.  Could you please look into it?

[2020-03-16 08:27] xornorik commented on #37
Hi @sanjeevThapar. I'm glad you found this library useful.
The behaviour you are describing happens when the width of the SVPinView is less than width calculated by using properties like ```pinLength``` & ```interSpace```.

<img width="538" alt="Screenshot 2020-03-16 13 56 13" src="https://user-images.githubusercontent.com/21356007/76736988-e8ae2d00-678d-11ea-8f74-1489313fb817.png">

Will include

[2020-03-17 07:08] bhavitha-fission opened #38 "How to use this library with SwiftUI?"
How to use this library with SwiftUI?

[2020-03-20 05:52] Sadmansamee commented on #17
so it working?

[2020-03-24 17:04] praveenkumar927 commented on #17
Please help me. I am getting empty in first two text fields. Please send your code. praveenkumar.iosdeveloper@gmail.com

[2020-03-25 13:46] xornorik commented on #31
I had fixed this issue in one of the earlier releases by enforcing the semantic to be left-to-right.

Could you help me with recreating the issue? I have tried changing the language on the device and also editing the "Application language" field in the scheme; it stayed left-to-right as intended.

![screenrecord](https://user-images.githubusercontent.com/21356007/77542831-cd999680-6ecc-11ea-91ac-6

[2020-03-25 13:46] #30 closed

[2020-03-25 13:47] #26 closed

[2020-03-28 07:53] xornorik commented on #38
Hi @bhavitha-fission, I have yet to provide support for SwiftUI. Will work on this soon - please stay tuned. Thanks.

[2020-03-28 08:00] xornorik commented on #36
Hi @iosdroid, could you please provide me with more details? I am running it on **iOS 13.1, Xcode 11.1** and it seems to be running fine without any crashes.

[2020-03-29 09:14] FrhaanSaqib opened #39 "not support provide for Swift Package Manager"
<img width="730" alt="Screenshot 2020-03-29 at 2 11 52 PM" src="https://user-images.githubusercontent.com/46016808/77845333-8b6f9e00-71c7-11ea-9131-3127975af8b2.png">

[2020-03-29 09:30] xornorik commented on #32
Hi @adika-juniarsa, could you help me with recreating this issue? I was able to run in on Xcode 11.3 without any issues or crashes.

[2020-03-29 09:37] xornorik commented on #36
Merging issue with #32 since they seem to be the related.

[2020-03-29 09:37] #36 closed

[2020-03-29 17:23] #17 closed

[2020-03-29 17:23] #24 closed

[2020-03-29 17:23] #27 closed

[2020-03-29 17:23] #37 closed

[2020-03-30 06:22] xornorik commented on #17
Hey guys,
Apologies for the long delay. Thank you for your patience & for all your inputs!
Finally resolved this.

![AutoFill Demo](https://user-images.githubusercontent.com/21356007/77881286-49546400-727c-11ea-8183-fc72c17ffa3d.gif)

[2020-03-30 14:09] xornorik commented on #29
Have introduced an error state in case there is a casting issue
Closing this for lack of further information.
Thanks.

[2020-03-30 14:09] #29 closed

[2020-03-30 14:10] xornorik commented on #39
Thanks @FrhaanSaqib.
Will provide support for Swift Package Manager as well in the upcoming release.

[2020-03-31 06:26] sanjeevThapar commented on #37
@xornorik thanks for your quick response I will check it and revert.

[2020-04-10 09:39] usamabinattique commented on #31
Can you please pinpoint where the semantics needs to be changed because i am facing the same issue

[2020-04-11 06:33] xornorik commented on #31
@usamabinattique I've already changed the semantic to **force a left-to-right entry** and I was able to confirm it by changing the language on the device (gif attached in my previous comment).

<img width="260" alt="Screenshot 2020-04-11 11 59 38" src="https://user-images.githubusercontent.com/21356007/79037156-43e80980-7bec-11ea-8c67-ecb22ec4b69e.png">

**Could you help me recreate this?**

[2020-04-14 07:29] ArkInnovationsPH commented on #38
+1 also need it in Swift UI

[2020-04-14 07:37] bhavitha-fission commented on #38
Hi, Any update on this?

[2020-04-15 17:04] aliakhtar49 commented on #31
By changing language at runtime on the same session , **force a left-to-right entry**  will not work
On new relaunch **force a left-to-right entry**  will work

[2020-04-15 17:19] xornorik commented on #31
@aliakhtar49 I tried that, also tried editing the scheme and changing the application language from there. Same result i.e it maintains the left-to-right entry.

![ezgif-2-843061718d06](https://user-images.githubusercontent.com/21356007/79367214-1fcd5500-7f6b-11ea-9579-d05c488bef74.gif)

This is when I relaunch after the language change.

[2020-04-16 18:23] msbouchedid opened #40 "Pin Secure Delay"
There is a delay of pin entries being secure when typing fast

[2020-04-17 01:15] wangmuge opened #41 "ERR-104: Tag Mismatch - Line 291"
----------SVPinView Error----------
ERR-104: Tag Mismatch - Line 291
-----------------------------------
2020-04-17 09:01:25.854738+0800 nookprint[88745:19458510] *** Assertion failure in -[UICollectionView _createPreparedCellForItemAtIndexPath:withLayoutAttributes:applyAttributes:isFocused:notify:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKitCore_Sim/UIKit-3899.22.15/UICollectionView.m:

[2020-04-17 07:19] xornorik commented on #41
@wangmuge Thanks for reporting the error!
Could you confirm if this is happening consistently or if it's just a sporadic behaviour?

[2020-04-17 07:34] xornorik commented on #40
Hi @msbouchedid, this was intended behaviour to enable the user to have a brief glimpse at what was entered.

I will make this a configurable field in the next release to suit your requirement.

[2020-04-17 07:48] xornorik commented on #38
@bhavitha-fission I'm working on it. Will be a little while before I have this up and working on SwiftUI.

[2020-04-26 10:54] aliakhtar49 commented on #31
@xornorik By changing language at runtime  (I was referring to in app mechanism we used to change language on button taped irrespective of the system ) where we manually loaded resources our selves

https://stackoverflow.com/questions/31840176/changing-language-on-the-fly-in-swift

[2020-05-05 09:52] snievesZafiro commented on #41
This error is when you copy the files manually and not use cocoapods

[2020-05-11 14:26] Sydney-o9 commented on #40
@xornorik I have put a PR for this https://github.com/xornorik/SVPinView/pull/42 :)

[2020-05-22 15:36] llyouss opened #43 "when input secret start with index of 2, it will wrong."
// store text
        let text =  textField.text ?? ""
        let passwordIndex = index - 1
        if password.count > (passwordIndex) {
            // delete if space
            password[passwordIndex] = text == " " ? "" : text
        } else {
            **//it is wrong, it should input to  the index it should be.
            password.append(text)**
        }
        validateAndSendCallback(

[2020-05-27 05:08] kosakoytim opened #44 "How do you change PIN styling without clearing it first?"
I have a case where i need to change my PIN style text color, underline color when the PIN input is invalid. I can't seem to do this without calling `pin.clearPin()` which will reload the view and clear all the input. Is there another way to do this?
Thanks

[2020-05-27 06:19] xornorik commented on #44
There is a way in which you can do this, although it's a little ugly.

The *didChangeCallback* gives you the pin that has been entered so far, this can be stored on the presenting layer (ViewController). You can then set the error styling, call *clearPin()* and follow it up by pasting the partial (or complete) pin using the *pastePin* method.

The pasting will have to be delayed by a small offset

[2020-05-27 06:41] kosakoytim commented on #44
I actually tried a similar method earlier, but got an error because i didn't add a delay for the rendering. This will solve for now, thanks!

[2020-05-27 07:30] #44 closed

[2020-06-02 11:58] puryagh opened #45 "add keyboardAppearance"
please append keyboardAppearance  for UIKeyboardAppearance

[2020-06-09 04:37] ganweiming opened #46 "2 advices of SVPinView"
1.hope to provide milliseconds property to set secure text after a bit, some time we don't need delay  show secure text
2.when press delete key of keyboard wanna delete previous char or not just move the cursor to the text field
thanks

[2020-06-11 12:37] xornorik commented on #46
@ganweiming Thank you for your feedback. 😄

Agreed. Will include this in the upcoming release.

How would the user be able to delete the character in that textfield if the delete button would only shift the cursor?

[2020-06-11 12:38] xornorik commented on #45
@puryagh thank you for the feedback. Will include this in the upcoming release.

[2020-06-11 12:44] xornorik commented on #31
@aliakhtar49 Apologies for the late response.
I understood your point about changing the language at runtime. However, my confusion stems from the fact that when the semantic has been hard-coded to be **Force Left-to-Right**, there should never be a case when the entry begins from the right.
Am I missing something?

[2020-06-12 08:09] ganweiming commented on #46
@xornorik thanks for your reply
about point 2 is a case for payment scene, user should't touch the textfield, just press keyboard to input the password, i think maybe can provide a mode to clear the box when textfield focused, For reference only.

[2020-06-16 13:35] premkumarsepuri opened #47 "getting issue while installing pod"
Specs satisfying the `SVPinView` dependency were found, but they required a higher minimum deployment target. please help . thank you

[2020-06-17 12:50] xornorik commented on #47
Hi @premkumarsepuri,
The deployment target for SVPinView is 9.0 and the Swift version is 5.0.
You will need to uncomment ```platform :ios, '9.0'``` in your podfile.

If this doesn't fix the issue, could you give me some more details on how you've tried to install it. I will try and recreate it at my end.

Thanks.

[2020-07-09 10:29] lfongaroScp opened #48 "Not always override character if focus a pinView"
Hi;
Thanks for your work.
I wrap your view in a SwiftUI app.

In this app I see an odd behavior. If the user tap a single pinView in the left half of the view it can prevent the overwrite of the existing character.

I attach two screenshot to explain better myself. In the first (indicator is on the left) if the user digit a new character then the old one is not overwrite, in the second it will be

[2020-07-15 11:31] PrashantKT opened #49 "Install Manually Crashes on starting"
I have copy source folder into xcode project
and then in my XIB added View  of subclass  SVPinView

added required properties and crashes on starting

 *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'the cell returned from -collectionView:cellForItemAtIndexPath: does not have a reuseIdentifier - cells must be retrieved by calling -dequeueReusableCellWithR

[2020-07-15 12:06] PrashantKT commented on #49
Fixed

On cell, we need to choose SVPinField again so it uses it from current target

<img width="1120" alt="Screenshot 2020-07-15 at 5 34 26 PM" src="https://user-images.githubusercontent.com/35359315/87543039-9dffdb80-c6c1-11ea-925b-642dbb427547.png">

[2020-07-15 12:06] #49 closed

[2020-07-22 16:54] riazhazan commented on #31
@xornorik still when the UI layout is RTL the SVPinView also mirroring, I mean the entry starts from right to left.

[2020-07-28 07:32] syedrazackimran commented on #41
Hi, I am also facing the same issue. when using manually not in cocoa pods

[code]

[2020-08-01 13:05] xornorik commented on #48
@lfongaroScp I'm glad you found this useful.
Thank you for reporting the issue and your detailed explanation. I was able to recreate it and will fix it in the upcoming release.

[2020-08-01 13:06] #47 closed

[2020-08-01 16:43] xornorik commented on #49
Yes, I'll include this change in the next release so it is easier to pull the files from the source folder.
Thanks for identifying it 👍

[2020-08-02 18:06] #16 closed

[2020-08-02 18:06] #45 closed

[2020-08-02 18:06] #48 closed

[2020-08-02 18:06] #32 closed

[2020-08-02 18:06] #40 closed

[2020-08-02 18:06] #46 closed

[2020-08-02 18:40] xornorik commented on #46
@ganweiming
I have added a property called *deleteButtonAction*, which has 3 options.
I think the **.moveToPreviousAndDelete** option might be what you had in mind.
Hope this helps.
Thanks!

[2020-08-02 18:42] xornorik commented on #44
@kosakoytim
I have added a completionHandler for the *clearPin* method in the latest release.

[2020-08-02 18:47] xornorik commented on #41
@snievesZafiro
Thank you for diagnosing this issue. I was able to fix it in the latest release.

@wangmuge @syedrazackimran
This happened because after the files were copied, the target for the SVPinField file was set to SVPinView instead of the parent target. Refer #49

I have fixed this in **v1.0.9**

[2020-08-02 18:47] #41 closed

[2020-08-02 18:49] xornorik commented on #32
Related to #41 and #49
Fixed in **v1.0.9**

[2020-08-02 18:51] xornorik commented on #43
@llyouss
Thank you for reporting this!
Would you be able to check if this is relevant in the current version (1.0.9) as well? I was unable to get any unexpected behaviour.

[2020-08-02 18:54] xornorik commented on #31
I've added some logic in the latest version (v1.0.9) to fix this issue. Since I'm unable to recreate this at my end, could someone here confirm and close if it has indeed been fixed.
Thank you.

[2020-08-19 12:44] subinrevi opened #51 "Does this library have support for the new OneTimePasscode introduced in iOS 12 ?"
Is there any way we can achieve this with this framework. Since iOS 12 has introduced this feature.

`static let oneTimeCode: UITextContentType`

[2020-08-19 12:57] xornorik commented on #51
Hey @subinrevi
It does indeed. The PinView has a property `isContentTypeOneTimeCode` which when set to true (true by default), activates the oneTimePasscode feature.

[2020-08-19 12:58] #51 closed

[2020-08-29 23:35] okhanokbay opened #52 "didFinishCallback is not reachable from Objective-C Project"
After adding @objc annotation to that property, it works. Rather add @objcMembers to SVPinView class

[2020-08-30 05:23] xornorik commented on #52
Thank you @okhanokbay!
Will add the **@objcMembers** attribute in the next release.

[2020-09-13 12:14] razor313 opened #53 "Autofill doesn't work at iPhone 6s - iOS 13.7"
I have an issue with iPhone 6s - iOS 13.7. Autofill doesn't appear on the top of the official keyboard of the iOS.
It seems this behavior is occurred just on iPhone 6 - 6s
Here a buch of my code:

`    lazy var verificationTextField: SVPinView = {
        let textField = SVPinView()
        textField.translatesAutoresizingMaskIntoConstraints = false
        textField.pinLength = 6
        textFiel

[2020-09-17 07:34] ErAshu commented on #53
is this working or not? Autofill is necessary in my case. Pls revert.

[2020-09-23 04:32] leijdekkers opened #54 "Pinview shows "xx pasted from yy" notification on entering pin"
Since iOS 14 the SVPinview shows a "xxx pasted from yyy" notification whenever i enter text/number into a SVPinView. Looks like the UITextField needs to be modified and disable clipboard actions. Or can this be done already? If so how?

[2020-09-29 02:14] aKANJx commented on #54
I'd try a PR but it appears the owner doesn't accept PR since 2018. So, this is the solution:
CustomSVPinView.swift -> Remove (string == UIPasteboard.general.string) in line 454
If you're using pods, fork it and use it as a private pod. Otherwise, manually insert it into your project.

Cheers

[2020-09-29 06:51] xornorik commented on #54
@leijdekkers Many thanks for reporting this! Apologies for the delay in response. Will put out a release with the changes suggested by @aKANJx.

@aKANJx
Thank you for the solution! Will add your change and put out a release today.

Not true. I've not merged *some* of the PR's due to certain reasons, but I have merged in most of the PR's (the last release was a PR -  #42). I suppose I should resolv

[2020-09-29 06:53] leijdekkers commented on #54
Thanks! It is a bit of a showstopper right now getting all these notifications when you enter a pincode! Appreciate the effort.

[2020-09-29 18:47] #31 closed

[2020-09-29 18:48] #43 closed

[2020-09-29 19:05] xornorik commented on #53
@razor313 Are you still facing this issue? I was unable to replicate it on the simulator. I've since updated my Xcode and it doesn't seem to be allowing me to download iOS 13.7. I'll have to downgrade to an older version of Xcode to test.
Will do so if you can confirm you're still facing the issue.
Thank you for reporting it.

[2020-09-29 20:12] razor313 commented on #53
@ErAshu It works like a charm.

[2020-09-29 20:14] razor313 commented on #53
@xornorik As far as I know, it works on iOS 13.x without any problems as well as iOS 14.0.

[2020-09-29 20:18] xornorik commented on #53
@razor313 That's great!
Thanks for confirming!
Closing this issue.

[2020-09-29 20:18] #53 closed

[2020-09-30 07:18] #52 closed

[2020-09-30 07:18] #54 closed

[2020-09-30 07:24] leijdekkers commented on #54
When will you release an updated version fixing this issue?

[2020-09-30 07:31] xornorik commented on #54
@leijdekkers
Just did on CocoaPods.
Carthage is giving me some troubles; it appears there have been some heavy changes for Xcode 12 - [more here](https://github.com/Carthage/Carthage/issues/3019#issuecomment-693302447)

If you're using CocoaPods, could you confirm if you're still getting the notification?

[2020-09-30 07:35] xornorik commented on #54
@leijdekkers Are you using CocoaPods or Carthage?

[2020-09-30 07:36] leijdekkers commented on #54
Just tested it and all good! No more notifications! Thanks a lot!

[2020-09-30 07:40] xornorik commented on #54
Thant's great! Thanks for the confirmation. 🙂

[2020-10-03 10:55] NohaMohamed opened #55 "Crash while opening SVPinCell"
Unknown class SVPinField in Interface Builder file.

Assertion failure in -[UICollectionView _createPreparedCellForItemAtIndexPath:withLayoutAttributes:applyAttributes:isFocused:notify:],

 *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'the cell returned from -collectionView:cellForItemAtIndexPath: does not have a reuseIdentifier - cells must be retrieve

[2020-10-03 13:44] xornorik commented on #55
@NohaMohamed
Did you use CocoaPods/Carthage for installing or did you manually drag the files into your project?

[2020-10-03 16:02] #55 closed

[2020-10-03 16:18] xornorik commented on #55
@NohaMohamed
I've put out a fix for this in v1.0.11. If you're still using this, could you please confirm if this has been fixed?
Thank you.

[2020-10-05 12:43] jpauljm commented on #54
Thanks, @xornorik! Sorry, I misinterpreted the PRs. I appreciate all effort you're doing creating and maintaining this useful repo.

[2020-11-03 15:36] codetanmoy commented on #38
import SwiftUI
import SVPinView
import UIKit

struct OTPWithKAPin: UIViewRepresentable {
    var otpCode: String?
    var numberofElement: Int = 6

    var getotp : (_ code: String) -> ()

    class Coordinator: NSObject {
        var parent: OTPWithKAPin

        init(_ parent: OTPWithKAPin) {
            self.parent = parent
        }

    }

    func makeCoordinator() -> Coordinator {
        C

[2020-11-27 10:43] sumanpdneupane opened #60 "pastePin -> after pasting pin in SVPinView. Text is not showing in view"

[2020-11-30 07:38] mfthoztrk opened #61 "Error border color not available"

[2021-03-02 08:01] ilyas666 opened #62 "Keyboard Hidden"
How can I turn off the keyboard loss feature at the end?

[2021-03-18 04:29] akki147 opened #63 "Height of Pinview"
Increasing height of view is not going to increase the height of pin view how can is solve this?

[2021-05-25 06:59] yarakhater commented on #6
any updates?

[2021-05-29 09:33] ShailendraKushwaha opened #64 "Only 5 pins appear on iPhone 12 pro max, even if pinLength is 6"
I am using pinView for otp in one of my application, On simulator of iphone12 Pro Max it just shows five pin TexField instead of 6.

[2021-06-21 06:08] Dhaval3110 commented on #64
anyupdate on this?

[2021-06-21 10:21] Dhaval3110 commented on #64
i have fixed issue by just changing hight of the SVPinview, which you added in view, earlier it was, 65 not i changed to 60 and it worked

[2021-06-28 13:27] sanket003 commented on #6
Can you please provide update on this?

[2021-06-29 03:39] Yabaze opened #65 "Package.swift Not Found"
Showing All Messages
https://github.com/xornorik/SVPinView.git has no Package.swift manifest for version 1.0.11 in https://github.com/xornorik/SVPinView.git

[2021-08-18 12:48] lightonalan commented on #55
Hi,
I'm using CocoaPods, and also got the same issue. However it's gone after I called clearPin function on viewDidLoad. Just note for someone facing this error

[2021-11-08 11:06] AliMehmood opened #66 "XCode 13 support."

[2021-11-08 11:06] #66 closed, assigned to nobody

[2022-01-21 20:52] embassem commented on #39
any updates?

[2022-03-13 05:46] AnkurLahiry opened #69 "PinView crashes on iPhone SE 2nd Generation"
Hello there,

I have been using SVPinView, and thanks for the wonderful library. I have been facing a crash on the latest release `1.0.11`.

[code]

In other issues, it is referenced that it was a problem of copying cocoa pod.

Here is my podfile
![Screenshot 2022-03-13 at 11 47 00 AM](https://user-images.githubusercontent.com/35650095/158046887-ce21d91b-3550-4985-9f56-134451df1b6f.png)

Here is m

[2022-03-14 05:49] AnkurLahiry commented on #69
The issue behind that, I tried to capture the keyboard notifications `KeyboardWillShow`, `KeyboardWillhide` before awaking the PinView. Receiving the events after awaking solved the issue

[2022-03-14 05:49] #69 closed, assigned to nobody

[2022-03-16 15:26] rastaman111 opened #70 "ERR-103: Type Mismatch"
Hey

After I do pinView.pastePin(pin: "5555") it gives 103 error, how can I fix it?
<img width="1132" alt="Снимок экрана 2022-03-16 в 18 26 17" src="https://user-images.githubusercontent.com/15727518/158626463-253fbe6d-bca3-4dac-9949-b14381e5ba96.png">

[2022-04-24 22:39] alkincakiralar1996 commented on #65
any update ?

[2022-06-08 15:14] evfemist commented on #70
In my case this happens if I call `pastePin` in `viewDidLoad` or `viewWillAppear`. And all good when calling `pastePin` from `viewDidAppear`.
This is because collectionView doesn't have cellForItem yet.
Didn't found any easy fix to this problem.

[2022-06-30 18:36] lucasbordini opened #72 "Uppercase"
Hi,
Has a way to uppercase all characters prompt in PinView ?

Thanks

[2022-07-05 00:31] lucasbordini commented on #72
I created a pull request to do this, if you can see and approve pls :)

[2022-07-27 09:02] MostafaRagab2003 opened #74 "alignment"
must force left to right

[2022-08-30 12:05] Chokaaaa opened #75 "ShouldSecureText Works on the new characters typed but not on the old one."
shouldSecureText = true works only on new characters entered but it still hides for the old characters ended.

so if I am entered 2/4 numbers and got 2 of them ** (secured) and make a shouldSecureText = false the previous ** are not being affected I either need to refreshView but it deletes the all entries cause its calling a clearPin() could you please fix that? so the entered text no matter when